<div id="navcontainer">
  <ul id="navlist">
    <li><a href="{{ root_url }}/about-atalanta-systems" id="current">About Atalanta Systems</a></li>
    <li><a href="{{ root_url }}/products-and-services">Products &amp; Services</a></li>
    <li><a href="{{ root_url }}/clients">Clients</a></li>
    <li><a href="{{ root_url }}/our-people">Our People</a></li>
    <li><a href="{{ root_url }}/contact-us">Contact Us</a></li>
    <li><a href="http://agilesysadmin.net">Blog</a></li>
  </ul>
  <div class="clear"></div>
</div>

<!--ul class="main-navigation">
  <li><a href="">About Atalanta Systems</a></li>
  <li><a href="{{ root_url }}/products-and-services">Products And Services</a></li>
  <li><a href="{{ root_url }}/clients">Clients</a></li>
  <li><a href="{{ root_url }}/our-people">Our People</a></li>
  <li><a href="{{ root_url }}/contact-us">Contact Us</a></li>
  <li><a href="http://agilesysadmin.net">Blog</a></li>
</ul-->

