<div id="navcontainer">
  <ul id="navlist">
    <li><a>&nbsp;</a></li>
    <li><a href="{{ root_url }}/">News</a></li>
    <li><a href="{{ root_url }}/about-atalanta-systems">About Atalanta Systems</a></li>
    <li><a href="{{ root_url }}/products-and-services">Products &amp; Services</a></li>
    <li><a href="{{ root_url }}/clients">Clients</a></li>
    <li><a href="{{ root_url }}/our-people">Our People</a></li>
    <li><a href="{{ root_url }}/contact-us">Contact Us</a></li>
    <li><a href="http://agilesysadmin.net">Blog</a></li>
  </ul>
  <div class="clear"></div>
</div>
